<%- include('partials/header') %>
<h1>⚠ SIGNUP FAIL ⚠</h1>
<p>YOU ARE USING THE WRONG PASSWORD, YOU ARE EITHER THE CREATOR OF THIS BLOG POST WHO FORGOT HIS PASSWORD IN WHICH CASE CHECK YOUR CODE FILE OR IF YOU ARE NOT THE CREATOR YOU CANNOT ACCESS THIS WEBPAGE VIEW MY BLOG DO NOT CHANGE IT</p>
<%- include('partials/footer') %>